* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  background-color: #EC715F;
  height: 70px;
}

.nav-bar {
  width: 1024px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  height: 70px;
  margin-right: auto;
}

.nav-bar li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
  font-size: 16px;
  color: #FAFAFA;
}

.main-visual {
  text-align: center;
  position: relative;
  background-image: url(img/mv.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
}

.main-visual-text {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.main-visual-text h1 {
  font-size: 64px;
  padding-bottom: 5px;  
  color: #FAFAFA;
}

.main-visual-text p {
  font-size: 20px;
  color: #FAFAFA;
  padding-top: 5px;
}